.hero {
    padding: 100px 0;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(224, 209, 209, 0.5)), url('../img/hero.jpg');
    @include bg;
    &__heading {
        font-size: 8rem;
        line-height: .95;
        color: #fff;
        margin: 0;
        margin-top: 142px;
        @include media-breakpoint-down(lg){
            margin-top: 50px;
        }
        span {
            display: block;
        }
    }
    &__lead {
        font-size: 3rem;
        margin: 24px 0 42px 0;
    }
    &__subheading {
        font-size: 6rem;
        line-height: .91;
        margin-top: 0;
        margin-bottom: 26px;
    }
    &__logo {
        max-width: 120px;
        margin-bottom: 72px;
    }
    &__box {
        padding: 35px 0 66px 42px;
        background-color: rgba(#000, .71);
        @include media-breakpoint-down(lg){
            margin-top: 50px;
        }
    }
    &__text {
        font-size: 2.6rem;
        line-height: 1.34;
        margin-bottom: 76px;
        max-width: 305px;
        &--grey {
            margin-bottom: 0;
            color: rgba(#D0D0D0, .8);
        }        
    }
    &__lead {

    }
}