// base
// -- colors
$base-color: #000;
$base-color-secondary: #FFD527;
$base-color-tertiary: #22a7f0;
$base-color-link: #000;

// -- fonts
$base-font-family: '', Arial, Helvetica, sans-serif;
$base-font-family-alt: '', Arial, Helvetica, sans-serif;
$font-family-heading: '', Arial, Helvetica, sans-serif;

// layout
// -- grid
$grid-gutter: 20px;
$grid-container: 1200px;

// menu
// -- logo
$width-logo: 50px;

// -- burger
$color-burger: #000;
$width-burger-line: 20px;
$height-burger-line: 3px;
$margin-burger-line: 4px;
$radius-burger-line: 0px;
$transform-y-burger-line: $margin-burger-line + $height-burger-line;

// -- overlay
$background-color-overlay: #fff;

// breakpoints
$breakpoint-mobile: 1024px;